<div class="centered-content">
    <div class="task-manager-container has-background-white">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu" >
                
                <a  class="list-menu-item " *ngFor="let list of lists"[routerLink]="['/lists',list._id]" routerLinkActive="is-active">
                    <p>
                        {{list.title}}
                    </p>
                </a>
            </div>
            <button class="button is-primary" routerLink="/new-list">+ New List</button>
        </div>
        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
            
            <div class="top-bar">
                <h1 class="title has-text-primary" >
                    Tasks
                </h1>
                 
            <div class="dropdown is-hoverable is-right">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" >
                    <span><i class= "fa fa-cog"></i></span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                      <a [routerLink]="['./edit']" class="dropdown-item">
                        Edit
                      </a>
                      <a class="dropdown-item text-danger" (click)=deleteList()>
                        Delete
                      </a>
                     
                    </div>
                  </div>
              </div>
            </div>
            <div class="task" *ngFor="let task of tasks" (click)=onTaskClick(task) [ngClass]="{'complete':task.completed}">
                
                    <div class="task-text"> 
                        <p>{{task.task}}</p>
                    </div>
                    <div class="task-buttons ">
                        <button [routerLink]="['./edit',task._id]" class="button is-primary  m-1">
                            <i class="fa fa-edit "></i>
                        </button>
                        <button (click)="deleteTask(task)"class=" button is-danger   m-1">
                            <i class="fas fa-trash " ></i>
                        </button>
                        
                    </div>
                
                    
            </div>
            
        <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to create
            a new task.</h3>

            <div class="mt-3 has-text-right">
                <button class="button is-primary "[routerLink]="['./new-task']" >+ New Task</button>
            </div>
        </div>
        <div *ngIf="!tasks">
            <h3 class="empty-state-text">Please Select a list from the sidebar</h3>
        </div>
            
        </div>
        
    </div>
</div>